@charset "utf-8";
/* root font size : 1rem  */
@import "common.css";
body {
  font-size: 0.14rem;
  color: #333;
  box-sizing: border-box;
}
* {
  font-size: 0.16rem;
  color: #333;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
input {
  background: none;
  outline: none;
  border: none;
  font-size: 0.16rem;
  box-sizing: border-box;
}
input:focus {
  border: none;
}
textarea {
  border: none;
  box-sizing: border-box;
}
select {
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 0.16rem;
  box-sizing: border-box;
}
.themeColorBgc {
  background-color: #FD6F3F;
}
.cr-btn {
  padding: 0.05rem 0.15rem;
  border-radius: 0.05rem;
  user-select: none;
  border: none;
  cursor: pointer;
  text-align: center;
  color: #fff;
  transition: all 0.2s ease 0s;
  background-color: #FD6F3F;
}
.cr-btn:hover {
  cursor: pointer;
  background-color: #f5470d;
  transition: all 0.2s ease 0s;
}
.cr-border-btn {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0.05rem;
  user-select: none;
  transition: all 0.2s ease 0s;
}
.cr-border-btn:hover {
  cursor: pointer;
  border: 1px solid #f5470d;
  transition: all 0.2s ease 0s;
}
.layui-layer-btn .layui-layer-btn0 {
  background-color: #FD6F3F !important;
  border-color: #FD6F3F !important;
  border-radius: 0.03rem;
}
.layui-layer-btn .layui-layer-btn1 {
  border-radius: 0.03rem;
}
.layui-layer-dialog {
  min-width: 1rem !important;
}
.layui-form-select dl {
  border: none;
  max-width: 3rem;
}
.layui-form-select dl dd.layui-this {
  background-color: #FD6F3F;
}
::-webkit-scrollbar {
  width: 0.1rem;
  background-color: #E2E2E2;
  margin-left: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #9E9E9E;
}
.none {
  display: none;
}
.alert-wrapper {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.alert-wrapper .mask {
  width: 100%;
  height: 100%;
  z-index: 8888;
}
.alert-wrapper .alert-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 5.6rem;
  height: 2.2rem;
  background: #eee;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0.06rem 0.15rem 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0.06rem 0.15rem 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.alert-wrapper .alert-box .alert-header {
  position: relative;
  height: 0.24rem;
}
.alert-wrapper .alert-box .alert-header .title {
  margin-left: 0.16rem;
  margin-top: 0.1rem;
  font-family: Microsoft yahei;
  font-size: 0.18rem;
  color: #FD6F3F;
  line-height: 0.14rem;
}
.alert-wrapper .alert-box .alert-header .close {
  position: absolute;
  right: 0.11rem;
  top: 0px;
  width: 0.14rem;
  height: 0.14rem;
  cursor: pointer;
  background: url("../image/white_board/close_page.png") no-repeat;
  background-size: 0.14rem 0.14rem;
}
.alert-wrapper .alert-box .alert-body {
  padding-bottom: 0.42rem;
}
.alert-wrapper .alert-box .alert-body .check-compatibility {
  padding: 0.45rem 0.16rem 0.42rem;
  font-family: Microsoft yahei;
  font-size: 0.18rem;
  color: #313c4c;
  line-height: 0.2rem;
}
.alert-wrapper .alert-box .alert-body .check-compatibility .icon-tip {
  position: relative;
  top: 0.05rem;
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  margin-right: 0.08rem;
  background: url("../image/white_board/wrapper_tip.png") 50% no-repeat;
  background-size: 0.22rem 0.22rem;
}
.alert-wrapper .alert-box .alert-body .check-compatibility .icon-tip .tip-content {
  display: inline-block;
  width: 4.8rem;
  vertical-align: top;
}
.alert-wrapper .alert-box .alert-body .check-compatibility .icon-tip .tip-content .c-item {
  margin-bottom: 0.1rem;
  display: block;
}
.alert-wrapper .alert-box .alert-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.15rem;
  padding: 0 0.16rem 0.16rem;
  height: 0.26rem;
  text-align: right;
}
.alert-wrapper .alert-box .alert-footer .btn {
  font-size: 0.16rem;
  width: 1rem;
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  background-color: #FD6F3F;
  color: #fff;
  border: none;
  box-shadow: 0px 0.08rem 0.15rem -0.08rem rgba(7, 107, 242, 0.6);
  letter-spacing: 0.0084rem;
  border-radius: 0.15rem;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  -ms-border-radius: 0.15rem;
  -o-border-radius: 0.15rem;
}
.alert-wrapper .alert-box .alert-footer .btn.btn-cancle {
  background-color: #e3e6ec;
  color: #313c4c;
}
.alert-wrapper .alert-box .alert-footer .btn.f-mgr-10 {
  margin-right: 0.1rem;
}
.login-page {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../image/ycBg.jpg") no-repeat center center;
}
.login-page .login-box {
  top: 2rem;
  width: 4.2rem;
  padding: 0.2rem 0.5rem 0.4rem;
  border-radius: 0.08rem;
  background-color: #fff;
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
}
.login-page .login-box .login-box-header {
  position: relative;
  margin-bottom: 0.1rem;
  height: 1.8rem;
}
.login-page .login-box .login-box-header > img {
  top: 0;
  display: block;
  height: 1.2rem;
  width: 1.2rem;
}
.login-page .login-box .login-box-header > span.title {
  position: absolute;
  bottom: 0.1rem;
  height: 0.4rem;
  width: 100%;
  line-height: 0.4rem;
  text-align: center;
  color: #FD5C41;
  font-size: 0.24rem;
}
.login-page .login-box .login-box-header .login-set-btn {
  position: absolute;
  top: 0rem;
  right: -0.3rem;
  padding: 0.03rem 0.15rem;
  line-height: 0.3rem;
}
.login-page .login-box .login-box-form .login-form-item {
  position: relative;
  height: 0.5rem;
  margin-bottom: 0.2rem;
  line-height: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.05rem;
  transition: all 0.2s ease 0s;
}
.login-page .login-box .login-box-form .login-form-item > label {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0.2rem;
  box-sizing: border-box;
}
.login-page .login-box .login-box-form .login-form-item .login-input {
  position: absolute;
  left: 0.7rem;
  padding-left: 0.2rem;
  width: 2.2rem;
  height: 0.48rem;
}
.login-page .login-box .login-box-form .login-form-item .login-input.layui-input-block {
  padding-left: 0;
  margin-left: 0.1rem;
}
.login-page .login-box .login-box-form .login-form-item .login-input input {
  margin-top: 0.05rem;
  height: 0.4rem;
  border: none;
  font-size: 0.16rem;
}
.login-page .login-box .login-box-form .login-form-item:hover {
  border: 1px solid #FD6F3F;
  transition: all 0.5s ease 0s;
}
.login-page .login-box .login-btn {
  padding: 0;
  margin: 0.4rem 0 0.1rem;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.18rem;
}
.login-page .login-box .login-setting-box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.login-page .login-box .login-setting-box .set-header {
  height: 0.5rem;
  line-height: 0.5rem;
  border-bottom: 1px solid #FD6F3F;
}
.login-page .login-box .login-setting-box .set-header .set-header-title {
  height: 100%;
  font-size: 0.28rem;
  text-align: center;
  color: #FD6F3F;
}
.login-page .login-box .login-setting-box .set-form {
  width: 100%;
  padding: 0.1rem 0.2rem;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item {
  margin-bottom: 0.05rem;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item .layui-form-label {
  height: 0.35rem;
  line-height: 0.35rem;
  padding: 0;
  text-align: right;
  font-size: 0.14rem;
  width: 1rem;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item .layui-input-block {
  min-height: 0.3rem;
  margin-left: 1rem;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item .layui-input-block .layui-input,
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item .layui-input-block .layui-select {
  height: 0.35rem;
  font-size: 0.14rem;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item .layui-input-block .layui-form-select dl dd.layui-this {
  background-color: #FD6F3F;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item .layui-input-block .layui-textarea {
  padding: 0 0.04rem;
  min-height: 0.8rem;
  font-size: 0.12rem;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item .layui-input-block .layui-form-radio {
  margin-top: 0.04rem;
  line-height: 0.3rem;
  height: 0.24rem;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item .layui-input-block .layui-form-radio * {
  font-size: 0.14rem;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item .layui-input-block .layui-form-radio i {
  font-size: 0.18rem;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item .layui-input-block .layui-form-radio > i:hover,
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item .layui-input-block .layui-form-radioed > i {
  color: #FD6F3F;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item .layui-input-block .layui-form-switch {
  margin-top: 0.04rem;
  height: 0.24rem;
  line-height: 0.18rem;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item .layui-input-block .layui-form-switch em {
  font-size: 0.14rem;
  top: 0.02rem;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item .layui-input-block .layui-form-switch i {
  top: 0.03rem;
  width: 0.16rem;
  height: 0.16rem;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item .layui-input-block .layui-form-onswitch {
  border-color: #FD6F3F;
  background-color: #FD6F3F;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item .layui-input-block .layui-btn-primary:hover {
  border-color: #FD6F3F;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item .layui-input-block.msprotocal .layui-form-radio {
  margin-right: 0;
  padding-right: 0;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item .layui-input-block.msprotocal .layui-form-radio i {
  margin-right: 0.04rem;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item.confirm-btns {
  position: absolute;
  bottom: 0.3rem;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item.confirm-btns .layui-input-block {
  margin-left: 0.86rem;
}
.login-page .login-box .login-setting-box .set-form .layui-form-pane .layui-form-item.confirm-btns .layui-input-block .layui-btn {
  padding: 0;
  height: 0.4rem;
  width: 1rem;
  text-align: center;
  line-height: 0.4rem;
  border-radius: 0.05rem;
}
.login-page .login-box .login-setting-box .sdk-ver {
  position: absolute;
  right: 0.1rem;
  bottom: 0;
}
.login-page .login-box .login-setting-box .sdk-ver span {
  font-size: 12px;
}
.call-page {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background: url("../image/ycBg.jpg") no-repeat center center;
}
.call-page .main-box {
  top: 2rem;
  width: 4.2rem;
  height: 4.7rem;
  border-radius: 0.08rem;
  background-color: #fff;
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
}
.call-page .main-box .logout-btn {
  position: absolute;
  padding: 0.03rem 0.15rem;
  right: 0.2rem;
  top: 0.2rem;
  line-height: 0.3rem;
  font-size: 0.14rem;
  z-index: 99;
}
.call-page .main-box .half {
  float: left;
  position: relative;
  width: 100%;
  height: 50%;
}
.call-page .main-box .half .choose-btn {
  height: 1rem;
  width: 2rem;
  background-color: #FD6F3F;
  line-height: 1rem;
  border-radius: 0.1rem;
  cursor: pointer;
  font-size: 0.18rem;
  color: #fff;
  transition: all 0.2s;
}
.call-page .main-box .half .btn1 {
  margin-top: 0.3rem;
}
.call-page .main-box .half .btn1:hover {
  background-color: #f5470d;
}
.call-page .main-box .half .btn2 {
  margin-top: -0.3rem;
  background-color: #61ACEE;
}
.call-page .main-box .half .btn2:hover {
  background-color: #1797F3;
}
.call-page .main-box .call-box {
  visibility: hidden;
  opacity: 0;
  margin-top: -0.8rem;
  height: 1.5rem;
  width: 3rem;
  z-index: 9;
  border-radius: 0.05rem;
  background-color: #f3f3f3;
  transition: all 0.3s;
}
.call-page .main-box .call-box .call-text {
  padding-left: 0.3rem;
  height: 0.5rem;
  width: 100%;
  line-height: 0.7rem;
  text-align: left;
}
.call-page .main-box .call-box .call-input {
  height: 0.5rem;
  width: 100%;
}
.call-page .main-box .call-box .call-input input {
  width: 80%;
  height: 0.3rem;
  line-height: 0.3rem;
  padding: 0 0.1rem;
  border: 1px solid #FD6F3F;
  border-radius: 0.05rem;
}
.call-page .main-box .call-box .call-btns {
  height: 0.5rem;
  width: 100%;
}
.call-page .main-box .call-box .call-btns .cr-btn {
  float: left;
  padding: 0;
  width: 1.1rem;
  height: 0.3rem;
  line-height: 0.3rem;
}
.call-page .main-box .call-box .call-btns .btn1 {
  margin-left: -0.65rem;
}
.call-page .main-box .call-box .call-btns .btn2 {
  background-color: #61ACEE;
  margin-left: 0.65rem;
}
.call-page .main-box .call-box .call-btns .btn2:hover {
  background-color: #1797F3;
}
.seat-que-page {
  display: none;
  height: 100%;
  width: 100%;
  background: url("../image/ycBg.jpg") no-repeat center center;
}
.seat-que-page .main-box {
  width: 9rem;
  height: 6rem;
  border-radius: 0.08rem;
  overflow: hidden;
  background-color: #fff;
}
.seat-que-page .main-box .main-box-header {
  padding: 0 0.4rem;
  height: 0.9rem;
  width: 100%;
  line-height: 0.9rem;
  font-size: 0.26rem;
  color: #FD6F3F;
  box-sizing: border-box;
}
.seat-que-page .main-box .main-box-header .header-title * {
  color: #FD6F3F;
}
.seat-que-page .main-box .main-box-header .logout-btn {
  position: absolute;
  right: 0.4rem;
  top: 0.3rem;
  padding: 0.03rem 0.15rem;
  line-height: 0.3rem;
  font-size: 0.14rem;
}
.seat-que-page .main-box .main-box-quelist {
  padding: 0 0.3rem 0 0.5rem;
  height: 4.4rem;
  box-sizing: border-box;
}
.seat-que-page .main-box .main-box-quelist .quelist-header {
  margin-right: 0.24rem;
  height: 0.4rem;
  line-height: 0.4rem;
  border-bottom: 1px solid #FD6F3F;
  overflow: hidden;
}
.seat-que-page .main-box .main-box-quelist .quelist-main {
  height: 4rem;
  box-sizing: border-box;
  overflow: auto;
}
.seat-que-page .main-box .main-box-quelist .quelist-main > ul {
  height: 100%;
  width: 99%;
}
.seat-que-page .main-box .main-box-quelist .quelist-main > ul .que-list-item {
  float: left;
  height: 0.5rem;
  line-height: 0.5rem;
  border-bottom: 1px solid #ccc;
}
.seat-que-page .main-box .main-box-quelist .quelist-main > ul .que-list-item .li-box {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.seat-que-page .main-box .main-box-quelist .quelist-header li:nth-child(1),
.seat-que-page .main-box .main-box-quelist .que-list-item li:nth-child(1) {
  width: 2.2rem;
}
.seat-que-page .main-box .main-box-quelist .quelist-header li:nth-child(5),
.seat-que-page .main-box .main-box-quelist .que-list-item li:nth-child(5) {
  width: 1.6rem;
}
.seat-que-page .main-box .main-box-quelist .quelist-header li:nth-child(6),
.seat-que-page .main-box .main-box-quelist .que-list-item li:nth-child(6) {
  width: 0.56rem;
}
.seat-que-page .main-box .main-box-quelist .li-box {
  position: relative;
  float: left;
  width: 1.2rem;
  height: 0.5rem;
  text-align: center;
  box-sizing: border-box;
}
.seat-que-page .main-box .main-box-quelist .li-box .service-start-btn {
  width: 1.2rem;
  height: 0.34rem;
  line-height: 0.34rem;
  border-radius: 0.04rem;
  color: #fff;
  cursor: pointer;
  background-color: #999;
}
.seat-que-page .main-box .main-box-quelist .li-box .service-start-btn.serving {
  background-color: #FD6F3F;
}
.seat-que-page .main-box .main-box-foot {
  height: 0.7rem;
  line-height: 0.7rem;
}
.seat-que-page .main-box .main-box-foot .foot-isDND {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.seat-que-page .main-box .main-box-foot .foot-isDND .layui-form-item {
  float: left;
  width: 1.6rem;
  margin-bottom: 0;
}
.seat-que-page .main-box .main-box-foot .foot-isDND .layui-form-item > label {
  float: left;
  font-size: 0.16rem;
}
.seat-que-page .main-box .main-box-foot .foot-isDND .layui-form-item .layui-input-block {
  float: left;
  margin-left: 0.15rem;
}
.seat-que-page .main-box .main-box-foot .foot-isDND .layui-form-item .layui-input-block .layui-form-switch {
  margin: 0;
  height: 0.28rem;
  width: 0.5rem;
  line-height: 0.32rem;
}
.seat-que-page .main-box .main-box-foot .foot-isDND .layui-form-item .layui-input-block .layui-form-switch i {
  width: 0.14rem;
  height: 0.14rem;
  left: 0.05rem;
  top: 0.06rem;
}
.seat-que-page .main-box .main-box-foot .foot-isDND .layui-form-item .layui-input-block .layui-form-onswitch i {
  margin-left: 0.25rem;
  width: 0.14rem;
  height: 0.14rem;
  left: 0.05rem;
  top: 0.06rem;
}
.seat-que-page .main-box .main-box-foot .foot-isDND .user-state-monitor {
  display: none;
  float: left;
  width: 1.8rem;
  height: 100%;
  text-align: center;
}
.seat-que-page .main-box .main-box-foot .foot-isDND .user-state-monitor .start-monitor {
  display: none;
  width: 1.5rem;
  height: 0.4rem;
  line-height: 0.4rem;
  box-sizing: border-box;
}
.seat-que-page .main-box .main-box-foot .foot-isDND .user-state-monitor .start-monitor.stop {
  background-color: #FD6F3F;
  color: #fff;
  border: 1px solid #FD6F3F;
}
.seat-que-page .main-box .main-box-foot .foot-isDND .user-state-monitor .start-monitor.stop:hover {
  background-color: #f5470d;
  transition: all 0.2s ease 0s;
}
.seat-que-page .main-box .main-box-foot .foot-isDND .request-user {
  right: 0;
  margin-right: 0.6rem;
  padding: 0 0.2rem;
  height: 0.4rem;
  line-height: 0.4rem;
}
.user-que-page {
  display: none;
  height: 100%;
  width: 100%;
  background: url("../image/ycBg.jpg") no-repeat center center;
}
.user-que-page .main-box {
  height: 5.6rem;
  width: 6rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0.08rem;
}
.user-que-page .main-box .main-box-header {
  height: 0.9rem;
  padding-left: 0.4rem;
  box-sizing: border-box;
  background-color: #fff;
}
.user-que-page .main-box .main-box-header .header-title {
  float: left;
  height: 100%;
  width: 4rem;
  line-height: 0.9rem;
  font-size: 0.3rem;
}
.user-que-page .main-box .main-box-header .header-title span {
  color: #FD6F3F;
}
.user-que-page .main-box .main-box-header .header-right-btns {
  float: left;
  width: 1.5rem;
  height: 100%;
  padding: 0.3rem 0;
}
.user-que-page .main-box .main-box-header .header-right-btns > div {
  padding: 0;
  width: 0.6rem;
  height: 0.3rem;
  float: left;
  line-height: 0.3rem;
  font-size: 0.14rem;
}
.user-que-page .main-box .main-box-header .header-right-btns .refresh-btn {
  background-color: #61ACEE;
}
.user-que-page .main-box .main-box-header .header-right-btns .refresh-btn:hover {
  background-color: #1797F3;
}
.user-que-page .main-box .main-box-header .header-right-btns .logout-btn {
  margin-left: 0.15rem;
}
.user-que-page .main-box .main-box-quelist {
  height: 4.52rem;
  box-sizing: border-box;
  overflow: auto;
}
.user-que-page .main-box .main-box-quelist ul {
  width: 100%;
}
.user-que-page .main-box .main-box-quelist ul li {
  width: 5.2rem;
  height: 0.6rem;
  margin-left: 0.4rem;
  margin-top: 0.05rem;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 0.05rem;
  background-color: #f1f3f5;
}
.user-que-page .main-box .main-box-quelist ul li .item-left {
  float: left;
  width: 4.5rem;
  height: 100%;
  padding: 0 0.1rem;
  text-align: left;
  box-sizing: border-box;
}
.user-que-page .main-box .main-box-quelist ul li .item-left .que-title {
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.18rem;
  color: #FD6F3F;
}
.user-que-page .main-box .main-box-quelist ul li .item-left .que-desc {
  height: 0.2rem;
  line-height: 0.2rem;
  font-size: 0.14rem;
  color: #61ACEE;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user-que-page .main-box .main-box-quelist ul li .item-right {
  float: left;
  width: 0.5rem;
  height: 100%;
  margin-left: 0.15rem;
  line-height: 0.6rem;
}
.user-que-page .main-box .main-box-quelist ul li .item-right > span {
  color: #FD6F3F;
}
.user-que-page .main-box .main-box-quelist ul li:hover {
  background-color: #E7EAED;
}
.meeting-page {
  display: none;
  height: 100%;
  width: 19.2rem;
  overflow: hidden;
}
.meeting-page header {
  position: relative;
  height: 0.36rem;
  width: 100%;
  background-color: #FD6F3F;
  line-height: 0.36rem;
  box-sizing: border-box;
}
.meeting-page header .text {
  margin-left: 0.3rem;
  font-size: 0.18rem;
  color: #fff;
}
.meeting-page header .text #headerUserName {
  color: #fff;
}
.meeting-page header .room-id {
  position: absolute;
  top: 0;
  right: 0.8rem;
  height: 100%;
  color: #fff;
}
.meeting-page header .room-id span {
  color: #fff;
}
.meeting-page .main {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #FCFCFC;
}
.meeting-page .main > .left {
  float: left;
  height: 100%;
  width: 18.75%;
  overflow: hidden;
}
.meeting-page .main > .left .product-info {
  float: left;
  height: 3.43rem;
  width: 100%;
}
.meeting-page .main > .left .user-info {
  float: left;
  height: 5.89rem;
  width: 100%;
}
.meeting-page .main > .left .user-info .info {
  height: 2.8rem;
}
.meeting-page .main > .left .user-info .id-img {
  position: relative;
  margin-top: 0.3rem;
  padding-left: 0.1rem;
  height: 2.2rem;
  width: 100%;
}
.meeting-page .main > .left .user-info .id-img .right-toggle {
  position: absolute;
  margin-right: 0.03rem;
  right: 0;
  top: 0;
  height: 100%;
  width: 18%;
}
.meeting-page .main > .left .user-info .id-img .right-toggle img {
  width: 100%;
  cursor: pointer;
  border-radius: 1rem;
}
.meeting-page .main > .left .user-info .id-img .id-card {
  position: relative;
  height: 100%;
  width: 80%;
  border-radius: 0.1rem;
}
.meeting-page .main > .left .user-info .id-img .id-card img {
  width: 100%;
}
.meeting-page .main > .left .user-info .id-img .id-card.id-back {
  display: none;
}
.meeting-page .main > .left .header-title {
  position: relative;
  height: 0.55rem;
  border-bottom: 1px solid #DADADA;
}
.meeting-page .main > .left .header-title > span {
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 0.45rem;
  width: 1.1rem;
  border-bottom: 3px solid #FD6F3F;
  text-align: center;
  line-height: 0.45rem;
  font-size: 0.18rem;
  color: #FD6F3F;
}
.meeting-page .main > .left .info {
  padding: 0.22rem 0 0 0.35rem;
  height: 3.2rem;
}
.meeting-page .main > .left .info ul li {
  height: 0.34rem;
  width: 100%;
  line-height: 0.34rem;
  font-size: 0.16rem;
}
.meeting-page .main > .left .info ul li .info-title {
  float: left;
  color: #999;
}
.meeting-page .main > .left .info ul li .info-value {
  float: left;
  max-width: 2.5rem;
  color: #333;
}
.meeting-page .main > .left .info.product li {
  height: 0.4rem;
  line-height: 0.4rem;
}
.meeting-page .main > .right {
  position: relative;
  float: left;
  height: 100%;
  width: 81.25%;
}
.meeting-page .main > .right .video-box {
  height: 5.8rem;
  background-color: #0C1D24;
}
.meeting-page .main > .right .video-box.layoutA {
  position: relative;
}
.meeting-page .main > .right .video-box.layoutA > .video {
  position: absolute;
  top: 0.7rem;
  width: 7.65rem;
  height: 4.3rem;
  background-color: #333;
}
.meeting-page .main > .right .video-box.layoutA > .video.seat-video {
  left: 0.12rem;
}
.meeting-page .main > .right .video-box.layoutA > .video.user-video {
  left: 7.83rem;
}
.meeting-page .main > .right .video-box.layoutA .third-video {
  display: none;
}
.meeting-page .main > .right .video-box.layoutA .media-video {
  display: none;
}
.meeting-page .main > .right .video-box.layoutB {
  position: relative;
}
.meeting-page .main > .right .video-box.layoutB > div {
  position: absolute;
  background-color: #333;
}
.meeting-page .main > .right .video-box.layoutB > div.media-video {
  left: 0.3rem;
  top: 0.1rem;
  height: 5.6rem;
  width: 9.96rem;
}
.meeting-page .main > .right .video-box.layoutB > div.video {
  left: 10.36rem;
  height: 2.75rem;
  width: 4.88rem;
}
.meeting-page .main > .right .video-box.layoutB > div.video.seat-video {
  top: 0.1rem;
}
.meeting-page .main > .right .video-box.layoutB > div.video.user-video {
  top: 2.95rem;
}
.meeting-page .main > .right .video-box.layoutB > div.video.third-video {
  display: none;
}
.meeting-page .main > .right .video-box.layoutC > div {
  position: absolute;
  background-color: #333;
}
.meeting-page .main > .right .video-box.layoutC > div.video {
  left: 10.36rem;
  height: 2.75rem;
  width: 4.88rem;
}
.meeting-page .main > .right .video-box.layoutC > div.video.user-video {
  left: 0.3rem;
  top: 0.1rem;
  height: 5.6rem;
  width: 9.96rem;
}
.meeting-page .main > .right .video-box.layoutC > div.video.seat-video {
  top: 0.1rem;
}
.meeting-page .main > .right .video-box.layoutC > div.video.third-video {
  top: 2.95rem;
}
.meeting-page .main > .right .video-box.layoutC > div media-video {
  display: none;
}
.meeting-page .main > .right .set-bar {
  position: relative;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  background-color: #1F3A45;
}
.meeting-page .main > .right .set-bar .set-btns {
  height: 0.32rem;
  font-size: 0;
}
.meeting-page .main > .right .set-bar .set-btns .btn {
  padding: 0;
  margin-left: 0.12rem;
  width: 1.2rem;
  height: 0.32rem;
  line-height: 0.32rem;
  background-color: #FD6F3F;
  font-size: 0.16rem;
  color: #fff;
  text-align: center;
  border-radius: 0.05rem;
  border: none;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
.meeting-page .main > .right .set-bar .set-btns .btn:nth-child(1) {
  margin-left: 0;
}
.meeting-page .main > .right .set-bar .set-btns .btn:hover {
  background-color: #f5470d;
}
.meeting-page .main > .right .set-bar .set-btns .btn.warning {
  background-color: #FE5C5A;
}
.meeting-page .main > .right .set-bar .set-btns .btn.warning:hover {
  background-color: #f8322e;
}
.meeting-page .main > .right .tips-bar {
  padding-left: 0.3rem;
  height: 0.26rem;
  line-height: 0.26rem;
  font-size: 0.12rem;
  background-color: #FCEFC2;
}
.meeting-page .main > .right .right-bottom {
  background-color: #F3F3F3;
}
.meeting-page .main > .right .right-bottom .bottom-media {
  float: left;
  width: 50%;
  height: 3.6rem;
  padding-right: 0.2rem;
  background-color: #F3F3F3;
}
.meeting-page .main > .right .right-bottom .bottom-media .title {
  position: relative;
  width: 100%;
  height: 0.6rem;
  border-bottom: 1px solid #ccc;
}
.meeting-page .main > .right .right-bottom .bottom-media .title .tab {
  position: absolute;
  bottom: -1px;
  height: 0.42rem;
  padding: 0 0.2rem;
  line-height: 0.42rem;
  text-align: center;
  font-size: 0.16rem;
  cursor: pointer;
  user-select: none;
}
.meeting-page .main > .right .right-bottom .bottom-media .title .tab.checked {
  color: #FD6F3F;
  border-bottom: 3px solid #FD6F3F;
}
.meeting-page .main > .right .right-bottom .bottom-media .title .tab.record-tab {
  left: 1.75rem;
}
.meeting-page .main > .right .right-bottom .bottom-media .title .import-file {
  position: absolute;
  right: 0.3rem;
  bottom: 0.05rem;
}
.meeting-page .main > .right .right-bottom .bottom-media .title .import-file > label {
  font-size: 0.14rem;
}
.meeting-page .main > .right .right-bottom .bottom-media .title .import-file > button {
  margin-left: 0.05rem;
  padding: 0.05rem 0.1rem;
  display: inline-block;
  border: none;
  border-radius: 0.05rem;
  font-size: 0.16rem;
  color: #fff;
  background-color: #FD6F3F;
}
.meeting-page .main > .right .right-bottom .bottom-media .title .import-file > button:hover {
  background-color: #f5470d;
}
.meeting-page .main > .right .right-bottom .bottom-media .title .refresh-record {
  position: absolute;
  right: 0.3rem;
  bottom: 0.05rem;
  width: 0.6rem;
  height: 0.28rem;
  line-height: 0.28rem;
}
.meeting-page .main > .right .right-bottom .bottom-media .list {
  height: 3rem;
}
.meeting-page .main > .right .right-bottom .bottom-media .list ul {
  padding: 0 0.1rem 0.1rem 0.2rem;
  margin-top: 0.1rem;
  height: 92%;
  overflow: auto;
}
.meeting-page .main > .right .right-bottom .bottom-media .list ul li {
  position: relative;
  padding-left: 0.1rem;
  padding-right: 1rem;
  margin-bottom: 0.04rem;
  height: 0.36rem;
  line-height: 0.36rem;
  box-sizing: border-box;
  cursor: pointer;
}
.meeting-page .main > .right .right-bottom .bottom-media .list ul li .name {
  width: 5.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.meeting-page .main > .right .right-bottom .bottom-media .list ul li:hover {
  background-color: #f7f7f7;
}
.meeting-page .main > .right .right-bottom .bottom-media .list ul li.playing {
  background-color: #eee;
}
.meeting-page .main > .right .right-bottom .bottom-media .list ul li .play-btns {
  position: absolute;
  right: 0.2rem;
  top: 0;
  width: 0.8rem;
  height: 0.36rem;
}
.meeting-page .main > .right .right-bottom .bottom-media .list ul li .play-btns > .icon {
  float: left;
  height: 0.36rem;
  width: 0.36rem;
  z-index: 3;
}
.meeting-page .main > .right .right-bottom .bottom-media .list ul li .play-btns > .icon.play {
  background: url('../image/播放.png') no-repeat center / 0.36rem 0.36rem;
}
.meeting-page .main > .right .right-bottom .bottom-media .list ul li .play-btns > .icon.pause {
  background: url('../image/暂停.png') no-repeat center / 0.36rem 0.36rem;
}
.meeting-page .main > .right .right-bottom .bottom-media .list ul li .play-btns > .icon.stop {
  margin-left: 0.05rem;
  background: url('../image/停止.png') no-repeat center / 0.36rem 0.36rem;
}
.meeting-page .main > .right .right-bottom .verbal-trick {
  float: left;
  width: 50%;
  height: 3.6rem;
  background-color: #F3F3F3;
}
.meeting-page .main > .right .right-bottom .verbal-trick .title {
  position: relative;
  width: 100%;
  height: 0.6rem;
  border-bottom: 1px solid #ccc;
}
.meeting-page .main > .right .right-bottom .verbal-trick .title .tab {
  position: absolute;
  bottom: -1px;
  height: 0.42rem;
  padding: 0 0.2rem;
  line-height: 0.42rem;
  text-align: center;
  font-size: 0.16rem;
  cursor: pointer;
  user-select: none;
}
.meeting-page .main > .right .right-bottom .verbal-trick .title .tab.checked {
  color: #FD6F3F;
  border-bottom: 3px solid #FD6F3F;
}
.meeting-page .main > .right .right-bottom .verbal-trick .list {
  height: 3rem;
}
.meeting-page .main > .right .right-bottom .verbal-trick .list ol {
  padding: 0 0.1rem 0.1rem 0.2rem;
  margin-top: 0.1rem;
  height: 91%;
  overflow: auto;
}
.meeting-page .main > .right .right-bottom .verbal-trick .list ol li {
  padding-left: 0.1rem;
  line-height: 0.3rem;
  box-sizing: border-box;
}
.meeting-page .main > .right .layer-box .chat-box {
  position: absolute;
  top: 1.3rem;
  height: 4rem;
  width: 5rem;
  border-radius: 0.1rem;
  background-color: #F6F6F6;
  z-index: 99;
  overflow: hidden;
}
.meeting-page .main > .right .layer-box .chat-box .header {
  float: left;
  position: relative;
  height: 0.4rem;
  width: 100%;
  padding-left: 0.2rem;
  line-height: 0.4rem;
  font-size: 0.16rem;
  background-color: #FD6F3F;
  user-select: none;
}
.meeting-page .main > .right .layer-box .chat-box .header span {
  color: #fff;
}
.meeting-page .main > .right .layer-box .chat-box .header span.close-btn {
  position: absolute;
  right: 0.1rem;
  height: 0.3rem;
  width: 0.3rem;
  background: url('../image/close.png') no-repeat center center / 0.14rem 0.14rem;
  cursor: pointer;
}
.meeting-page .main > .right .layer-box .chat-box .list {
  float: left;
  padding-top: 0.1rem;
  width: 100%;
  height: 2.6rem;
  background-color: #F6F6F6;
  overflow: auto;
}
.meeting-page .main > .right .layer-box .chat-box .list li {
  width: 100%;
}
.meeting-page .main > .right .layer-box .chat-box .list li .nickname {
  width: 100%;
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.14rem;
  color: #3AABFB;
}
.meeting-page .main > .right .layer-box .chat-box .list li .msg-value {
  display: inline-block;
  padding: 0.1rem;
  margin-bottom: 0.1rem;
  max-width: 4.2rem;
  border-radius: 0.05rem;
  background-color: #fff;
}
.meeting-page .main > .right .layer-box .chat-box .list li.item-left {
  text-align: left;
}
.meeting-page .main > .right .layer-box .chat-box .list li.item-left .nickname {
  text-align: left;
  padding-left: 0.2rem;
}
.meeting-page .main > .right .layer-box .chat-box .list li.item-left .msg-value {
  position: relative;
  margin-left: 0.3rem;
}
.meeting-page .main > .right .layer-box .chat-box .list li.item-left .msg-value:before {
  position: absolute;
  left: -0.09rem;
  top: 0.15rem;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.06rem 0.1rem 0.06rem 0;
  border-color: transparent #FFFFFF transparent transparent;
}
.meeting-page .main > .right .layer-box .chat-box .list li.item-right {
  text-align: right;
}
.meeting-page .main > .right .layer-box .chat-box .list li.item-right .nickname {
  text-align: right;
  padding-right: 0.2rem;
}
.meeting-page .main > .right .layer-box .chat-box .list li.item-right .msg-value {
  position: relative;
  margin-right: 0.3rem;
  background-color: #FFB18A;
}
.meeting-page .main > .right .layer-box .chat-box .list li.item-right .msg-value:before {
  position: absolute;
  right: -0.09rem;
  top: 0.15rem;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.06rem 0rem 0.06rem 0.1rem;
  border-color: transparent transparent transparent #FFB18A;
}
.meeting-page .main > .right .layer-box .chat-box .value-box {
  position: relative;
  float: left;
  height: 1rem;
  width: 100%;
  background-color: #FFFFFF;
}
.meeting-page .main > .right .layer-box .chat-box .value-box > textarea {
  padding: 0.1rem;
  height: 0.66rem;
  width: 100%;
  overflow: none;
  font-size: 0.14rem;
}
.meeting-page .main > .right .layer-box .chat-box .value-box .send-btn {
  position: absolute;
  right: 0.1rem;
  bottom: 0.05rem;
  height: 0.28rem;
  width: 0.8rem;
  border: none;
  background-color: #FD6F3F;
}
.meeting-page .main > .right .layer-box .chat-box .value-box .send-btn:hover {
  background-color: #f5470d;
}
.meeting-page .main > .right .layer-box .set-box {
  height: 5.2rem;
  width: 5.2rem;
  margin-top: -1.7rem;
  border-radius: 0.05rem;
  background-color: #f7f7f7;
  overflow: hidden;
  z-index: 99;
}
.meeting-page .main > .right .layer-box .set-box .header {
  height: 0.4rem;
  background-color: #FD6F3F;
  font-size: 0.16rem;
}
.meeting-page .main > .right .layer-box .set-box .header .tab {
  float: left;
  height: 110%;
  width: 1.2rem;
  line-height: 0.4rem;
  text-align: center;
  cursor: pointer;
  color: #fff;
  user-select: none;
}
.meeting-page .main > .right .layer-box .set-box .header .tab.checked {
  background-color: #f7f7f7;
  color: #333;
}
.meeting-page .main > .right .layer-box .set-box .set-main {
  padding: 0.3rem 1.4rem 0 0.3rem;
}
.meeting-page .main > .right .layer-box .set-box .set-main .layui-form-item {
  position: relative;
  margin-bottom: 0.14rem;
}
.meeting-page .main > .right .layer-box .set-box .set-main .layui-form-item .layui-form-label {
  width: 1.2rem;
  padding: 0.08rem 0.15rem;
  line-height: 0.2rem;
}
.meeting-page .main > .right .layer-box .set-box .set-main .layui-form-item .layui-input-block {
  margin-left: 1.2rem;
  min-height: 0.36rem;
}
.meeting-page .main > .right .layer-box .set-box .set-main .layui-form-item .layui-input-block .cr-btn {
  right: -0.9rem;
  padding: 0.03rem 0.15rem;
  height: 0.32rem;
  font-size: 0.16rem;
}
.meeting-page .main > .right .layer-box .set-box .set-main .layui-form-item .layui-input-block .cr-btn.closed {
  background-color: #61ACEE;
}
.meeting-page .main > .right .layer-box .set-box .set-main .layui-form-item .layui-input-block .cr-btn.closed:hover {
  background-color: #1797F3;
}
.meeting-page .main > .right .layer-box .set-box .set-main .layui-form-item .layui-input-block .layui-input,
.meeting-page .main > .right .layer-box .set-box .set-main .layui-form-item .layui-input-block .layui-select,
.meeting-page .main > .right .layer-box .set-box .set-main .layui-form-item .layui-input-block .layui-textarea {
  height: 0.38rem;
}
.meeting-page .main > .right .layer-box .set-box .set-main .layui-form-item .layui-input-block .layui-form-radio {
  line-height: 0.24rem;
  margin: 0.06rem 0.05rem 0 0;
  padding-right: 0.1rem;
}
.meeting-page .main > .right .layer-box .set-box .set-main .layui-form-item .layui-input-block .layui-form-radio i {
  margin-right: 0.08rem;
  font-size: 0.24rem;
  color: #FD6F3F;
}
.meeting-page .main > .right .layer-box .set-box .set-main .layui-form-item .layui-input-block .layui-form-radio i:hover {
  color: #f5470d;
}
.meeting-page .main > .right .layer-box .set-box .set-main .layui-form-item .layui-this {
  background-color: #FD6F3F;
}
.meeting-page .main > .right .layer-box .set-box .set-main.record-set {
  padding: 0.3rem 1rem 0 0.3rem;
}
.meeting-page .main > .right .layer-box .set-box .set-main.record-set .layui-form-label {
  width: 1.4rem;
}
.meeting-page .main > .right .layer-box .set-box .set-main.record-set .layui-input-block {
  margin-left: 1.5rem;
}
.meeting-page .main > .right .layer-box .set-box .set-main.record-set .layui-input-block.live-push-checkbox i {
  border-left: 1px solid #d2d2d2;
}
.meeting-page .main > .right .layer-box .set-box .set-bottom-btns {
  position: absolute;
  bottom: 0.4rem;
  width: 2rem;
  height: 0.38rem;
  z-index: 9;
}
.meeting-page .main > .right .layer-box .set-box .set-bottom-btns .cr-btn {
  position: absolute;
  top: 0;
  padding: 0;
  height: 0.38rem;
  width: 0.8rem;
  font-size: 0.16rem;
}
.meeting-page .main > .right .layer-box .set-box .set-bottom-btns .cr-btn.yes-btn {
  left: 0;
}
.meeting-page .main > .right .layer-box .set-box .set-bottom-btns .cr-btn.cancel-btn {
  right: 0;
  background-color: #61ACEE;
}
.meeting-page .main > .right .layer-box .set-box .set-bottom-btns .cr-btn.cancel-btn:hover {
  background-color: #1797F3;
}
.meeting-page .main > .right .layer-box .invite-box {
  background-color: #FCFCFC;
  height: 1.6rem;
  width: 4rem;
  margin-top: -0.5rem;
  border-radius: 0.05rem;
  overflow: hidden;
  user-select: none;
  z-index: 99;
}
.meeting-page .main > .right .layer-box .invite-box .invite-header {
  position: relative;
  height: 0.4rem;
  width: 100%;
}
.meeting-page .main > .right .layer-box .invite-box .invite-header .invite-title {
  position: absolute;
  top: 0.2rem;
  left: 0.3rem;
  font-size: 0.2rem;
}
.meeting-page .main > .right .layer-box .invite-box .invite-header .close-btn {
  position: absolute;
  right: 0.15rem;
  top: 0.15rem;
  height: 0.18rem;
  width: 0.18rem;
  cursor: pointer;
  background: url('../image/close2.png') no-repeat center center / 100% 100%;
}
.meeting-page .main > .right .layer-box .invite-box .invite-main {
  position: absolute;
  top: 0.75rem;
  height: 0.5rem;
  width: 3.2rem;
}
.meeting-page .main > .right .layer-box .invite-box .invite-main .id-input {
  height: 0.35rem;
  width: 2.2rem;
  padding-left: 0.1rem;
  border: 1px solid #FD6F3F;
  border-radius: 0.05rem;
}
.meeting-page .main > .right .layer-box .invite-box .invite-main .invite-confirm-btn {
  padding: 0 0.15rem;
  height: 0.35rem;
  line-height: 0.35rem;
  right: 0.1rem;
}
.meeting-page.seat .set-btns > button {
  display: inline-block;
}
.meeting-page.seat .right-bottom {
  display: block;
}
.meeting-page.seat .record-set-tab {
  display: block;
}
.meeting-page.record {
  width: 15.6rem;
}
.meeting-page.record .main > .left {
  display: none;
}
.meeting-page.record .main > .right {
  width: 100%;
}
.meeting-page.videoCall {
  width: 15.6rem;
}
.meeting-page.videoCall .main > .left {
  display: none;
}
.meeting-page.videoCall .main > .right {
  width: 100%;
}
.meeting-page.videoCall .main > .right .tips-bar {
  display: none;
}
.meeting-page.videoCall .main > .right .right-bottom {
  display: none;
}
.meeting-page.videoCall .main > .right #screenShareBtn,
.meeting-page.videoCall .main > .right #inviteBtn {
  display: none;
}
